.THIS.black svg{
    background-color: #006699;
    font-size: 0.875rem;
    padding-top: 20px;
    padding-bottom: 20px;
  padding-left: 10px;
    fill: black;
}

/* FONT SIZE */
.THIS :last-child.slds-modal__content{
    font-size: 0.87rem; }

.THIS .slds-form-element__label {
    margin-top: 5px;
    color: #080707;
    font-size: 0.875rem; }

/* END FONTS */

.THIS .button, .THIS .rwBtnRow{
/*    float: right; */
    margin-right: 10px;
}

.THIS  .slds-button_neutral {
    margin-right: 20px;
}

.THIS .info {
    margin-top: 30px; }

/* CUSTOM  */
.THIS .rwBtnRow {
    margin-top: 30px; margin-bottom:40px;
    background: #e6f7ff !important;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    padding-bottom: 12px; }

.THIS .rwCancelbtn {
    float:right; font-size:.825rem; font-weight:600; }

.THIS .rwCancelMargin {
    margin-right:20px; }

.THIS .rwFooter {
	text-align: left; color: #080707; padding:15px; }