/*
.THIS .yes{
    float : left !important;
}
.THIS .no{
    float : right !important;
}
*/
.THIS .button{
    background : #e6f7ff !important;
}
.THIS .modalbody{
    background: white !important;
    font-size: 0.875rem;
    color: #333;
}
.THIS .footer{
    margin-left: 5%;
    font-size: 0.75rem;
}

.THIS .rwTitle {
    font-size: 0.875rem; }

.THIS #rwtopDivide {
    border-bottom: #333 1px solid; }

.THIS .rwContent {
    margin-bottom: 20px;
    text-align: center;
    text-transform: initial;
    padding: 0 20px 0 20px;
}

.THIS .rwSup {
    font-size: 0.625rem;}

.THIS .rwBtnRow {
    background: #F4F4F4 !important;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding-bottom: 12px;
}

.THIS #modal-heading-01 {
    color: #333;
    text-transform: capitalize;
}

.THIS .rwCancelMargin {
    margin-left:10px; 
}

.THIS .rwCancelbtn {
    margin-left: 1rem;
}
.THIS .slds-button_neutral {
	padding: .6rem 0.875rem 0.6rem 0.875rem;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid #006699;
}

.THIS .rwFooter {
	text-align: left; 
    color: #080707; padding:15px;
}


.THIS .myButton {
    padding: .6rem .9rem .6rem .9rem;
    text-align: center;
    vertical-align: middle;
    /* background-color: #006699; */
    font-size: .875rem;
    text-transform: uppercase;
    border-radius: 4px;
    margin-right: .875rem;
}
/*
.THIS .button{
    background : #e6f7ff !important;
}
.THIS .modalbody{
    background: white !important;
    font-size : 1rem;
    color: #333;
}
.THIS .footer{
    margin-left : 5%;
    font-size : 0.75rem;
}

.THIS .rwTitle {
    font-size: 0.875rem; }

.THIS #rwtopDivide {
    border-bottom: #333 1px solid; }

.THIS .rwContent {
    margin-bottom:20px; text-align:center; }

.THIS .rwSup {
    font-size: .625rem;}

.THIS .rwBtnRow {
    background: #F4F4F4 !important;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding-bottom: 12px; }

.THIS .rwCancelbtn {
    font-size: 1rem;
    font-weight:600;
    border-radius: 8px;
}

.THIS .rwCancelMargin {
    margin-left:10px; 
}

.THIS .slds-button_neutral {
	padding: .6rem 0.875rem 0.6rem 0.875rem;
    border-radius: 8px;
}

.THIS .rwFooter {
	text-align: left; color: #080707; padding:15px; }
*/