.THIS .cACN_NavigationItem .acn-tsa-button li {
    text-align: center;
    padding: .6rem 1.5rem 0.6rem 1.5rem;
    background: #FFF;
    border: 1px solid #006699;
    border-radius: 4px;
    color: #006699 !important;
    text-transform: uppercase;
    font-weight: 800;
    font-size: .875rem;
    letter-spacing: .05em;
    width: max-content;
}

/* HEADERS and TITLES */

.THIS h1.acn-title-level-01 {
    color: #080707; font-size:1.5rem; font-weight:700; padding:0; margin:0; }

.THIS h2.acn-title-level-02 {
    color: #333; font-size:1.5rem; font-weight:600; padding:0; margin:0; }

.THIS .acn-group-container-grid.acn-border-bottom-light-2:after {
    border-bottom-width: thin !important;
    border-bottom-color: t(colorBorderInput);
	border-bottom-style: solid;
    content: " ";
    display: block;
    height: 0em;
    margin-left: 2em;
    padding-top: .5em;
    /*position: absolute;*/
    width: calc(100% - 2em);
}


.THIS .acn-group-container-grid.acn-border-bottom-light:before {
    border-bottom-width: thin !important;
    border-bottom-color: t(colorBorderInput);
	border-bottom-style: solid;
    content: " ";
    display: block;
    height: 0em;
    margin-top: -1em;
    margin-left: 2em;
    position: absolute;
    width: calc(100% - 2em);
}

.THIS .DESKTOP.acn-group-container-grid.acn-border-bottom-light:before {
    width: 30%;
}

.THIS .acn-group-container-grid.acn-border-bottom-light:nth-child(1):before {
    border-bottom: none;
}

.THIS .acn-group-container-grid.acn-border-bottom-light:nth-last-child(1):after {
    border-bottom-width: thin !important;
    border-bottom-color: t(colorBorderInput);
	border-bottom-style: solid;
    content: " ";
    display: block;
    height: 0em;
    margin-left: 2em;
    position: relative;
    width: calc(100% - 2em);
}

.THIS .acn-margin-right-none {
    margin-right: 0 !important;
}

.THIS .acn-previous-next-chevrons .acn-navigation-list-pagination-container > .acn-navigation-list-pagination-container-pagination-loading > .slds-button:nth-child(1):before {
    content: "";
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' id='chevronleft'%3E%3Cpath d='M15.8 22l-9.6-9.4c-.3-.3-.3-.8 0-1.1l9.6-9.4c.3-.3.7-.3 1 0l1 1c.3.3.3.7 0 1l-7.6 7.4c-.3.3-.3.8 0 1.1l7.5 7.4c.3.3.3.7 0 1l-1 1c-.2.2-.6.2-.9 0z'%3E%3C/path%3E%3C/svg%3E");
    display: inline-block;
    font-size: 72px;
    font-weight: bold;
    height: 34px;
    width: 34px;
    background-color: t(colorBrand);
}

.THIS .acn-previous-next-chevrons .acn-navigation-list-pagination-container > .acn-navigation-list-pagination-container-pagination-loading > .slds-button:nth-child(1):disabled:before {
    background-color: #6b7883;
}

.THIS .acn-previous-next-chevrons .acn-navigation-list-pagination-container > .acn-navigation-list-pagination-container-pagination-loading > .slds-button:nth-child(1):disabled {
    color: #6b7883;
    font-size: 14px;
}

.THIS .acn-previous-next-chevrons .acn-navigation-list-pagination-container > .acn-navigation-list-pagination-container-pagination-loading > .slds-button:nth-child(1) {
    float: left;
    font-size: 14px;
}

.THIS .acn-previous-next-chevrons svg {
    /*fill: t(colorBrand);*/
}

.THIS .acn-previous-next-chevrons .acn-navigation-list-pagination-container > .acn-navigation-list-pagination-container-pagination-loading > .slds-button:nth-child(2):after {
    content: "";
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' id='chevronright'%3E%3Cpath d='M8.3 2l9.5 9.5c.3.3.3.7 0 1L8.3 22c-.3.2-.8.2-1.1 0l-1-1c-.2-.3-.2-.8 0-1.1l7.6-7.4c.2-.3.2-.7 0-1L6.3 4.1C6 3.8 6 3.3 6.3 3l1-1c.3-.2.7-.2 1 0z'%3E%3C/path%3E%3C/svg%3E");
    display: inline-block;
    font-size: 72px;
    font-weight: bold;
    height: 34px;
    width: 34px;
    background-color: t(colorBrand);
}

.THIS .acn-previous-next-chevrons .acn-navigation-list-pagination-container > .acn-navigation-list-pagination-container-pagination-loading > .slds-button:nth-child(2):disabled:after {
    background-color: #6b7883;
}

.THIS .acn-previous-next-chevrons .acn-navigation-list-pagination-container > .acn-navigation-list-pagination-container-pagination-loading > .slds-button:nth-child(2):disabled {
    color: #6b7883;
    font-size: 14px;
}

.THIS .acn-previous-next-chevrons .acn-navigation-list-pagination-container > .acn-navigation-list-pagination-container-pagination-loading > .slds-button:nth-child(2) {
    float: right;
    font-size: 14px;
}

.THIS .acn-image-margin-top-negative-5-px img {
    margin-top: -5px;
}

.THIS .acn-line-height-large p::first-line {
    line-height: 1em;
}

.THIS .acn-line-height-large p {
    line-height: 2em;
}

.THIS .acn-image-margin-top-negative-5-px img {
    margin-top: -5px;
}

.THIS .acn-text-transform-lowercase h1, 
.THIS .acn-text-transform-lowercase h2, 
.THIS .acn-text-transform-lowercase h3, 
.THIS .acn-text-transform-lowercase label, 
.THIS .acn-text-transform-lowercase span, 
.THIS .acn-text-transform-lowercase p {
    text-transform: lowercase;
}

.THIS .acn-text-transform-uppercase h1, 
.THIS .acn-text-transform-uppercase h2, 
.THIS .acn-text-transform-uppercase h3, 
.THIS .acn-text-transform-uppercase label, 
.THIS .acn-text-transform-uppercase span, 
.THIS .acn-text-transform-uppercase p, 
.THIS .acn-text-transform-uppercase-name .acn-navigation-list-item-name-grid label, 
.THIS .acn-text-transform-uppercase-name .acn-navigation-list-item-name-grid span, 
.THIS .acn-text-transform-uppercase-name .acn-navigation-list-item-name-grid p {
    text-transform: uppercase;
}

.THIS .acn-text-transform-capitalize h1, 
.THIS .acn-text-transform-capitalize h2, 
.THIS .acn-text-transform-capitalize h3, 
.THIS .acn-text-transform-capitalize label, 
.THIS .acn-text-transform-capitalize span, 
.THIS .acn-text-transform-capitalize p {
    text-transform: capitalize;
}

.THIS .acn-text-transform-none h1, 
.THIS .acn-text-transform-none h2, 
.THIS .acn-text-transform-none h3, 
.THIS .acn-text-transform-none label, 
.THIS .acn-text-transform-none span, 
.THIS .acn-text-transform-none p {
    text-transform: none;
}

.THIS .acn-text-transform-inherit h1, 
.THIS .acn-text-transform-inherit h2, 
.THIS .acn-text-transform-inherit h3, 
.THIS .acn-text-transform-inherit label, 
.THIS .acn-text-transform-inherit span, 
.THIS .acn-text-transform-inherit p {
    text-transform: inherit;
}

.THIS .acn-text-transform-full-width h1, 
.THIS .acn-text-transform-full-width h2, 
.THIS .acn-text-transform-full-width h3, 
.THIS .acn-text-transform-full-width label, 
.THIS .acn-text-transform-full-width span, 
.THIS .acn-text-transform-full-width p {
    text-transform: full-width;
}

.THIS .acn-color-overlay-brand {
    color: t(colorTextButtonBrand);
}

.THIS .acn-record-list-row:nth-child(even) {
    background-color: t(colorBackgroundRowSelected);
}

.THIS .acn-record-list .acn-record-list-row:nth-child(1) {
    background-color: t(colorBrand);
}

.THIS .acn-record-list .acn-record-list-row:nth-child(1) p, 
.THIS .acn-record-list .acn-record-list-row:nth-child(1) textarea, 
.THIS .acn-record-list .acn-record-list-row:nth-child(1) span {
    color: t(colorTextButtonBrand);
}

.THIS .acn-margin-small {
    margin: .5em;
}

.THIS .acn-padding-left-small {
    padding-left: .5em;
}

.THIS .acn-contact-card {
    background-color: #f4f4f4;
    min-height: 200px;
    margin: 1em;
    border: 5px solid white;
}

.THIS li.acn-group-list-item:nth-child(odd) .acn-max-height-items-05 {
    max-height: 20em;
    min-height: 20em;
    overflow: hidden;
    overflow-y: scroll;
}

.THIS .acn-home-page-list-title-band {
    background-color: #5f5f5f;
    color: #fff;
}

.THIS .acn-home-page-list-group-item {
    /*min-height: 1.60em;*/
}


.THIS .acn-list-item-separation-small.acn-list-item-layout-container .acn-navigation-list-grid-element {
    /*padding: .5em;*/
}
/* Added by Becky for List Border */
.THIS .acn-list-border-style-tsabrand {
   border: #FFF solid 2px; 
}

/* Added by Becky for List Border */
.THIS .acn-list-border-styleLT-tsabrand {
   border-right: #FFF solid 1px; border-bottom: #FFF solid 1px; 
}

/* Added by Becky for List Border */
.THIS .acn-list-border-styleRT-tsabrand {
   border-left: /*#16325C*/ #FFF solid 1px; border-bottom: #FFF solid 1px; 
}













.THIS .acn-margin-top-x-large-negative {
    margin-top: -5em;
}

.THIS .acn-margin-top-large-negative {
    margin-top: -3em;
}

.THIS .acn-height-all {
    min-height: 4em;
}

.THIS .acn-margin-top-negative-large {
    margin-top: -2em;
}

.THIS .acn-color-white {
    color: white;
}

.THIS .acn-justify-content-initial {
    justify-content: initial;
}

.THIS .acn-gutter-left {
    margin-left: 6em !important;
}

.THIS .acn-group-header.acn-border-light-top, 
.THIS .acn-border-light-top {
    border-top: solid 1px;
}

.THIS .acn-border-color-silver {
    border-color: silver;
}

.THIS .acn-background-color-default {
    background-color: token(colorBackground);
}

.THIS .acn-group-header.acn-background-color-brand, 
.THIS .acn-background-color-brand {
    background-color: t(colorBrand);
}

/* Added by Becky for Alex to use in Help Component*/
.THIS .acn-group-header.acn-background-color-brand, 
.THIS .acn-background-color-tsabrand {
    color: #333333;
    background-color: #FFF;
    border-left: 3px solid #CC0033;
    font-size: 1.625rem;
    padding: 8px 0 8px 20px;
    margin-top: 32px;
}
.THIS .acn-dark {
    filter: brightness(80%);
}

.THIS .acn-darker {
    filter: brightness(60%);
}

.THIS .acn-darkest {
    filter: brightness(40%);
}

.THIS .acn-light {
    filter: brightness(125%);
}

.THIS .acn-lighter {
    filter: brightness(150%);
}

.THIS .acn-lightest {
    filter: brightness(175%);
}

.THIS .acn-float-right {
    float: right;
}

.THIS .acn-float-left {
    float: right;
}

.THIS .acn-float-initial {
    float: initial;
}

.THIS .acn-border-radius-small {
    border-radius: .25em;
}

.THIS .acn-overflow-hidden {
	overflow: hidden;
}

.THIS .acn-text-align-left {
    text-align: left;
}

.THIS .acn-text-align-right {
    text-align: right;
}

.THIS .acn-text-align-center {
    text-align: center;
}

.THIS .acn-text-default {
    color: token(colorTextDefault);
}

.THIS .acn-text-default-li li {
    color: token(colorTextDefault);
}

.THIS .acn-text-brand {
    color: token(colorTextBrand);
}

.THIS .acn-text-brand-li li {
    color: token(colorTextBrand);
}

.THIS .acn-text-button-brand {
    color: token(colorTextButtonBrand);
}

.THIS .acn-text-overlay {
    color: token(colorTextButtonBrand);
}

.THIS .acn-font-bold {
    font-weight: 600;
}

.THIS .acn-font-bolder {
    font-weight: 700;
}

.THIS .acn-font-boldest {
    font-weight: 800;
}

.THIS .acn-font-bold-li li {
    font-weight: 600;
}

.THIS .acn-font-bolder-li li {
    font-weight: 700;
}

.THIS .acn-font-boldest-li li {
    font-weight: 800;
}

.THIS .acn-font-normal {
    font-size: 1em;
    line-height: 1.5em;
}

.THIS .acn-font-large {
    font-size: 1.25em;
    line-height: 1.75em;
}

.THIS .acn-font-larger {
    font-size: 1.5em;
    line-height: 2em;
}

.THIS .acn-font-largest {
    font-size: 2em;
    line-height: 2.5em;
}

.THIS .acn-font-normal-li li {
    font-size: 1em;
}

.THIS .acn-font-large-li li {
    font-size: 1.25em;
}

.THIS .acn-font-larger-li li {
    font-size: 1.5em;
}

.THIS .acn-font-largest-li li {
    font-size: 2em;
}

.THIS .acn-min-height-five-units {
	min-height: 10em;
}

.THIS .acn-title-level-01.navigationCardAlternateBlocks {
    color: rgb(127, 55, 155);
    font-size: 1.5em;
    font-weight: 600;
}

.THIS .acn-title-level-01.navigationCardsBlockButtons {
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    /*margin: .75em 0 1em 1em;*/
    /*position: absolute;*/
    /*width: 60%;*/
    z-index: 99;
}

.acn-padding-none.THIS, 
.THIS .acn-padding-none {
    padding: 0;
}

.acn-margin-none.THIS, 
.THIS .acn-margin-none {
    margin-left: 0;
    margin-right: 0;
}

.acn-horizontal-padding-both-small.THIS, 
.THIS .acn-horizontal-padding-both-small {
    padding-left: 1em;
    padding-right: 1em;
}

.acn-horizontal-padding-both-medium.THIS, 
.THIS .acn-horizontal-padding-both-medium {
    padding-left: 3em;
    padding-right: 3em;
}

.acn-horizontal-padding-both-large.THIS, 
.THIS .acn-horizontal-padding-both-large {
    padding-left: 5em;
    padding-right: 5em;
}

.THIS .navigationCardsBlockButtons-item-container-grid.acn-padding-left-half {
    /*padding-left: 50%;*/
}

.navigationCardsBlockButtons-navigation-list-container-grid.THIS {
    background-color: rgb(127, 55, 155);
}

.THIS .acn-push-right-small {
	margin-left: 1em;
}

.THIS .acn-push-right-medium {
	margin-left: 3em;
}

.THIS .acn-push-right-large {
	margin-left: 5em;
}

.THIS .acn-push-left-small {
	margin-right: 1em;
}

.THIS .acn-push-left-medium {
	margin-right: 3em;
}

.navigationCardTitleViewAll.THIS, 
.THIS .navigationCardTitleViewAll, 
.THIS .navigationCardTitleViewAll .acn-group-body, 
.THIS .acn-group-body.navigationCardTitleViewAll, 
.THIS .navigationCardTitleViewAll-list-item-grid, 
.THIS .navigationCardTitleViewAll-item-container-grid, 
.THIS .navigationCardTitleViewAll-first-grid-item, 
.THIS .navigationCardTitleViewAll-second-grid-item, 
.THIS .navigationCardTitleViewAll-third-grid-item {
    height: 2em;
    min-height: 2em;
    padding: 0 .5em;
}

.acn-title-container-outer.navigationCardTitleViewAll.THIS {
    height: initial;
    min-height: initial;
}

.THIS .navigationProductCard-list-item-grid {
    padding-top: .25em;
    padding-bottom: .25em;
}

.THIS .acn-navigation-list-grid-element.navigationCardMenuItem-list-item-grid {
    background-color: t(colorBrand);
    padding: 0 .5em;
    height: 3.5em;
}

.THIS .navigationCardMenuItem-item-container-grid {
    /*position: fixed;
    bottom: 0;*/
}

.acn-hidden.THIS, 
.THIS .acn-hidden {
    display: none;
}


.THIS .acn-navigation-list-grid-element.navigationScoreCard-list-item-grid {
    /*border: 1px solid t(colorBorderBrand);*/
}



/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/

.acn-hidden.THIS, 
.THIS .acn-hidden {
    display: none;
}

/************** Navigation Card Contact Start ********************/
.THIS ul.navigationCardContact {
    margin: 0 auto;
}

.THIS ul.navigationCardContact:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.THIS li.navigationCardContact {
    float: left;
    padding: .5em;
}

/**************** Navigation Card Contact End ********************/

.THIS li.navigationCardIconAndMask {
    overflow: hidden;
}

.THIS .navigationCardIconAndMask h1 {
    text-transform: lowercase;
    font-weight: 300;
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    color: t(colorTextDefault);
}

.THIS .navigationCardIconAndMask h1:after {
    content: " ";
    width: 3em;
    height: .8em;
    border-bottom: 7px solid t(colorBrand);
    position: relative;
    display: block;
    margin: auto;
}

.THIS li.navigationCardIconAndMask {
    float: left;
    text-align: center;
    /*border-right: dotted thick t(colorBrand);*/
    max-height: 350px;
}

.THIS li.navigationCardIconAndMask:after {
    position: absolute;
    content: "";
    display: block;
    top: 33%;
    height: 34%;
    border-right: dotted 3px t(colorBrand);
}

.THIS li.navigationHighlightsGlass {
    display: inline-block;
    position: relative;
    float: left;
    min-height: 150px;
}

.THIS ul.navigationCardBandSection {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #ededed !important;
    padding-left: 10px;
    padding-right: 10px;
}

.THIS li.navigationCardBandSection:nth-child(1) {
    border-left: none;
}

.THIS li.navigationCardBandSection {
    position: relative;
    display: inline-block;
    height: 300px;
    border-left: 1px solid #1a2942;
    margin-top: 10px;
    margin-bottom: 10px;
}

.THIS li.navigationCardBandSection, 
.THIS li.navigationCardBandSection svg {
    background-color: #ededed !important;
}

.THIS li.navigationCardBandSection:hover, 
.THIS li.navigationCardBandSection:hover svg {
    background-color: white !important;
}

.THIS ul.navigationCardIconButton {
    background-color: white !important;
}

.THIS li.navigationCardIconButton {
    padding: 10px;
    vertical-align: middle;
    border-bottom: 1px solid #1a2942;
    display: inline-flex;
    position: relative;
}

.THIS li.navigationCardIconButton:nth-child(odd), 
.THIS li.navigationCardIconButton:nth-child(odd) svg {
    background-color: white !important;
}

.THIS li.navigationCardIconButton:nth-child(even), 
.THIS li.navigationCardIconButton:nth-child(even) svg {
    background-color: #ededed !important;
}

.THIS .carouselStretched.acn-carousel-list {
    max-height: 300px !important;
}

@media screen and (max-width: 885px){
    .THIS .carouselStretched.acn-carousel-list {
        height: 200px !important;
    }
}

@media screen and (max-width: 550px) {
    .THIS .carouselStretched.acn-carousel-list {
        height: 150px !important;
    }
}

.THIS ul.navigationCard {
    width: 100%;
    text-align: center;
}

.THIS li.navigationCard {
    display: inline-block;
    position: relative;
    float: left;
    min-height: 150px;
}

.THIS li.navigationCardWithButton {
    width: 48%;
    float: left;
}

.THIS .navigationMenuItem li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid silver;
}

.THIS .navigationMenuItem li:nth-child(1) {
    border-top: none;
}

.THIS .carouselCenteredContents.acn-carousel-navigation-items-container, 
.THIS .carouselCenteredContents.acn-carousel-navigation-items-container ul, 
.THIS .carouselCenteredContents.acn-carousel-navigation-items-container ul li, 
.THIS .acn-carousel-list.carouselCenteredContents
{
    height: t(acnNavigationCarouselCenteredContentsHeight) !important;
}



/****************** General Begin ************************/
.THIS {
    font-family: token(fontFamily);    
}

.THIS .hidden {
    display: none !important;
}

.THIS .acn-group-header {
    /*color: t(colorTextButtonBrand);*/
    /*background-color: token(colorBrand);*/
    /*height: 2em;*/
}

.THIS .acn-component-disabled {
    pointer-events: none; 
    opacity: 0.6;
}

.THIS .acn-spinner-outer-container {
    position: relative;
}

.THIS .acn-spinner-inner-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.THIS .acn-navigation-list-loading-spinner {
    background: t(acnDefaultBackground);
    color: t(acnBrandColor);
}

.THIS .slds-spinner.slds-spinner--brand.slds-spinner--medium.acn-navigation-list-loading-spinner {
    margin-top: 15px;
    position: relative;
}

.THIS .show {
    opacity: 1;
    max-height: 500px;
}

@media screen and (min-width: 885px){
    .THIS ul.acn-custom-nav-ul  {
        width: 94% !important;
        margin: 0 auto !important;
    }
}

.THIS .slds-button--neutral{
    border: none;
}

.THIS .slds-button:focus{
    box-shadow: none;
}

/*770px */
@media screen and (max-width: 885px) {
    .THIS .acn-group-body-list-item {
        min-width: 30%;
    }
}

/* 654*/
@media screen and (max-width: 550px) {
    .THIS .acn-group-body-list-item {
        width: 100%;
        min-width: 100%
            
    }

    .THIS .acn-custom-nav-inner-ul {
        width: 100%;
        margin: none;
    }
    
    .THIS .acn-custom-nav-card-inner-li{
        width: 45%;
        border: 0.7px solid rgba(0,0,0,0.6);
    }
}

/****************** General End **************************/

/*************** Red Star Card Begin *********************/
.THIS .navigationCardStarRed.acn-group-body-list-item, 
.THIS .navigationCardStarBlue.acn-group-body-list-item, 
.THIS .navigationCardStarBrand.acn-group-body-list-item {
    /*float: left;*/
    display: inline-block;
    padding: 5px;
}
/*************** Red Star Card End *********************/

/**************** Score Card Begin ***********************/
.THIS .navigationScoreCard.acn-group-body-list-item {
    float: left;
    list-style-type: none;
    box-sizing: border-box;
    padding: 2px;
    background-color: white;
}

.THIS .navigationScoreCard.acn-group-body-list-item .acn-navigation-item-container {
    border-radius: 3px;
    border: 1px solid token(acnBorderColor);
    margin: 1px 0px;
}

.THIS .navigationScoreCard.acn-group-body-list-item .acn-navigation-item-container:hover, 
.THIS .navigationScoreCard.acn-group-body-list-item .acn-navigation-item-container:focus {
    border: t(acnBrandColor) solid 1px;
    -o-box-shadow: 2px 2px 19px #CCC;
    -webkit-box-shadow: 2px 2px 19px #CCC;
    -moz-box-shadow: 2px 2px 19px #CCC;
}

/*770px */
@media screen and (max-width: 885px) {
    .THIS .navigationScoreCard.acn-group-body-list-item{
        width: 45% !important;
    }
}

/* 654*/
@media screen and (max-width: 550px) {
    .THIS .navigationScoreCard.acn-group-body-list-item{
        width: 45%;
        margin-left: 4px;
        margin-right: 12px;
        min-width: 16px;
    }
    
    .THIS .navigationScoreCard.acn-group-body-list-item:nth-child(2n) {
        margin-right: 0;
        margin-left: 0;
    }
}
/***************** Score Card End ************************/

/************** Article Preview Begin ********************/
.THIS ul.navigationArticlePreview.acn-group-body-list {
    -webkit-column-width: 25em;
    column-width: 25em;
    -moz-column-width: 25em;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    /*overflow:hidden;*/
}

.THIS .navigationArticlePreview.acn-group-body-list-item {
    min-width: 16px;
    width: 100%;
    list-style-type: none;
    box-sizing: border-box;
    margin: 5px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.1);
    /*box-shadow: 0 8px 6px -6px black;*/
    height: auto;
    -webkit-column-break-inside : avoid;
    /*min-height: 150px;*/
    float: none;
    padding: 0;
    background-color: white;
}

.THIS .navigationArticlePreview.acn-group-body-list-item:hover {
    /*border: 1px solid rgba(0,0,0,0.6);*/
    -o-box-shadow: 2px 2px 19px #CCC;
    -webkit-box-shadow: 2px 2px 19px #CCC;
    -moz-box-shadow: 2px 2px 19px #CCC;
}

/************** Article Preview End **********************/

/******************** Pill Begin *************************/
.THIS .navigationCardPill.acn-group-body-list {
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-flow: wrap;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: inline-table;
    flex-wrap: wrap;
    width: 100%;
}

.THIS .navigationCardPill.acn-group-body-list-item {
    display: -ms-flexbox;
    display: inline-table;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    width: 0% !important;
    margin-bottom: 5px;
    margin-right: 5px;
	font-size: 15px;
}

/******************** Pill End ***************************/

/***************** Mobile Tile Begin *********************/
.THIS .navigationCardMobileTile.acn-group-body-list {
    display: flex;
}

.THIS .navigationCardMobileTile.acn-group-body-list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style-type: none;
    box-sizing: border-box;
    height: auto;
    -webkit-column-break-inside: avoid;
    /*margin-right: 12px;
    margin-top: 15px;*/
    min-width: auto;
    height: auto !important;
    width: auto !important;
}

.THIS .navigationCardMobileTile.acn-group-body-list-item:last-child {
    margin-right: 0px;
}

/* 654*/
@media screen and (max-width: 550px) {
    .THIS .navigationCardMobileTile.acn-group-body-list{
        display: flex;
    }
}

/***************** Mobile Tile End ***********************/

/*************** KSA Breadcrumbs Begin *******************/
.THIS .navigationCardKSABreadCrumbs.acn-group-body-list {
    padding-left: 10px;
}

/*************** KSA Breadcrumbs End *********************/

/******************* KSA Text Begin **********************/
.THIS .navigationCardKSAText.acn-group-body-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    padding-bottom: 24px;
}

.THIS .navigationCardKSAText.acn-group-body-list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    float: left;
    list-style-type: none;
    box-sizing: border-box;
    height: auto;
    -webkit-column-break-inside: avoid;
    padding-right: 21px;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    line-height: 2.3
}

/******************* KSA Text End ************************/

/**************** Selection Pill Begin *******************/
.THIS ul.navigationCardSelectionPill.acn-group-body-list {
    border: 1px solid #d8dde6;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

/**************** Selection Pill End *********************/

/****************** Quick Link Begin *********************/
.THIS ul.navigationQuickLink.acn-group-body-list {
    background-color: t(acnDefaultBackgroundAlternate);
}

.THIS .navigationQuickLink .acn-group-header {
    background-color: t(acnDefaultBackgroundAlternate);
    color: t(acnBrandColor);
    display: block;
    font-family: t(fontFamily);
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 6px 3px 0 12px;
    text-align: left;
}

.THIS .navigationQuickLink ul {
    padding-top: 0;
    margin-top: 0;
    min-height: 50px;    
}

.THIS .navigationQuickLink ul li {
    padding: 12px;
}

/****************** Quick Link End ***********************/

/****************** Icon Button Begin ********************/
.THIS li.navigationIconButton {
    float: left;
    width: initial !important;
    padding: 3px;
    margin: 3px;
    background-color: initial;
    border-radius: 5px;
    border: solid t(acnBrandColor) 1px;
}

.THIS li.navigationIconButton.acn-navigation-list-item-selected {
    background-color: t(acnBrandColor);
}

.THIS li.navigationIconButton:not(.acn-navigation-list-item-selected):hover {
    background-color: t(acnPillCardColorHover);
}

/****************** Icon Button End **********************/

/********************* Chart Begin ***********************/
.THIS ul.navigationChart {
    text-align: center;
    margin: auto;
}

.THIS li.navigationChart {
    float: left;
    padding: 3px;
}

/********************* Chart End ***********************/

/****************** Carousel Begin ***********************/
.THIS .navigationCardCarousel.acn-navigation-list-item-description:empty {
	background: none !important;
}

.THIS .acn-carousel-button-previous, .THIS .acn-carousel-button-next {
    display: none;
}

.THIS .acn-carousel-indicator-active {
	background-color: token(acnCarouselPageSelectorColor);
	opacity: 1 !important;
}

.THIS .acn-carousel-indicator-not-active {
    background-color: token(acnCarouselPageSelectorColor);
}

.THIS .carouselIndicatorContainer button {
	opacity: 1 !important;
}

.THIS .acn-carousel-group-body-list .acn-group-body-list-item {
    height: token(acnNavigationCarouselHeight);
    border: none;
    width: 100%;
    margin: -2px;
}

.THIS .acn-carousel-indicator{
    display: inline-block;
    height: 15px; 
    width: 15px; 
    border-radius: 50%;
    margin-right:30px;
}

.THIS .acn-carousel-indicator-first {
    background-color: token(acnCarouselPageSelectorColor);
}

.THIS .acn-carousel-indicator-active {
    background-color: token(acnCarouselPageSelectorColor);
    opacity: 1;
    width: 20px;
    height: 20px;
}

.THIS .acn-carousel-indicator-not-active {
    background-color: token(acnCarouselPageSelectorColorNotSelected);
}

.THIS .acn-carousel-button {
    position: absolute;
    height: token(acnCarouselButtonHeight);
    width: 70px;
    top: 0;
    background-color: transparent;
    z-index: 5;
}

.THIS .acn-carousel-button > span {
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    line-height: 1;
	font-weight: 900;
	color: white;
	font-size: 17px;
	opacity: .5;
}

.THIS .acn-carousel-button:hover {
    background-color: transparent !important;
}

.THIS .acn-carousel-button:focus {
    outline: none;
}

.THIS .acn-carousel-page-indicator-button {
    /*width: 22px;
    height: 22px;*/
    outline: none;
    /*margin-bottom: 8px;*/
    margin: 0px;
    padding: 6px 0px 6px 0px;
    box-shadow: initial;
} 

.THIS .acn-carousel-page-indicator-button:hover {
    background: initial;
}

.THIS .acn-carousel-page-indicator-button > div.acn-carousel-indicator {
    margin-left: 6px;
    margin-right: 6px;
}

.THIS .acn-carousel-button-previous {
    left: 830px;
    margin-top: 166px !important;
	/*width: 3%;*/
}

.THIS .acn-carousel-button-next {
    right: 11px;
    margin-top: 166px !important;
	width: 3%;
}

.THIS .carouselIndicatorContainer {
    display: flex;
    justify-content: flex-end;
	z-index: 4 !important;
	margin-left: -22px;
}

.THIS .carouselIndicatorContainer button {
    background-color: transparent;
    border: 0;
	opacity: .25;
}

.THIS .carouselIndicatorContainer button:hover {
    background-color: transparent !important;
    border: 0;
}


.THIS .acn-carousel-list{
    position: relative;
    text-align: center;
    display: inline-block;
    width: token(acnCarouselWidth);
    background-color: token(acnCarouselBackGroundColor);
    height: token(acnNavigationCarouselHeight);
}

.THIS .acn-carousel-group-body-list {
    width: token(acnCarouselWidth);
    height: token(acnNavigationCarouselHeight);
}

.THIS .acn-list-slide-in-from-right {
    animation-duration: 3s;
    animation-name: slideinfromright;
}

.THIS .acn-list-slide-in-from-left {
    animation-duration: 1s;
    animation-name: slideinfromleft;
}

.THIS .acn-carousel-navigation-items-container {
    overflow: hidden;
    text-align: center;
}

.THIS .acn-list-slide-out-from-left {
    overflow: hidden;
    animation-duration: 2s;
    animation-name: slideoutfromleft;
}

.THIS .acn-list-slide-out-from-right {
    overflow: hidden;
    animation-duration: 1.5s;
    animation-name: slideoutfromright;
}

.THIS .acn-carousel-group-body-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes slideinfromright {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideinfromleft {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideoutfromleft {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes slideoutfromright {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@media screen and (min-width: 885px){
    .THIS .acn-carousel-button-next, .THIS .acn-carousel-button-previous{
        margin: 0;
        overflow: hidden;
        font-weight: bolder;
        font-size: 22px;
        border:0;
        color: token(acnCarouselPageSelectorColor);
    }
}

/*770px */
@media screen and (max-width: 885px) {
    .THIS .acn-carousel-group-body-list {
        width: 100%;
        
    }
    
    .THIS .acn-carousel-button > span{
        line-height: 1.6;
        font-weight: bold;
        font-size: x-large;
    }
}

/* 654*/
@media screen and (max-width: 550px) {
    .THIS .acn-carousel-group-body-list .acn-group-body-list-item {
        height: token(acnNavigationCarouselHeightMobile);
   	}
    
    .THIS .acn-carousel-group-body-list {
        width: 100%;
        height: token(acnNavigationCarouselHeightMobile);
    }

	.THIS .acn-carousel-list {
        height: token(acnNavigationCarouselHeightMobile);
	}
   
    .THIS .acn-carousel-button-previous, .THIS .acn-carousel-button-next {
        top: 0;
        height: 100%;
        
    }
    
    .THIS .acn-carousel-button-previous{
        left: 0;
    }
    .THIS .acn-carousel-button-next{
        right: 0;
    }
    
    .THIS .acn-carousel-button > span{
        line-height: 1.6;
        font-weight: bold;
        font-size: x-large;
    }
}
/****************** Carousel End *************************/

.THIS ul.navigationCardIconPill { 
    margin: 10px;
}

.THIS li.navigationCardIconPill {
    padding: 1px;
    position: relative;
    display: inline-block;
}

.THIS li.navigationCardIconPill .acn-navigation-item-container {
    position: relative;
    display: inline-block;
    border-radius: 30px;
    border: 1px rgba(45, 115, 185, .5) solid;
    margin-left: 5px;
    margin-right: 5px;
    height: 60px;
    min-width: 230px;
    max-width: 230px;
    -webkit-box-shadow: 1px 10px 17px -9px rgba(45,115,185,1);
    -moz-box-shadow: 1px 10px 17px -9px rgba(45,115,185,1);
    box-shadow: 1px 10px 17px -9px rgba(45,115,185,1);
}

.THIS li.navigationCardIconPill:hover .acn-navigation-item-container {
    -webkit-box-shadow: 2px 11px 17px -9px rgba(45,115,185,1);
    -moz-box-shadow: 2px 11px 17px -9px rgba(45,115,185,1);
    box-shadow: 2px 14px 11px -9px rgba(45,115,185,1);
}

.THIS li.navigationCardIconPill:active .acn-navigation-item-container {
    -webkit-box-shadow: 0px 8px 17px -9px rgba(45,115,185,1);
    -moz-box-shadow: 0px 8px 17px -9px rgba(45,115,185,1);
    box-shadow: 0px 8px 17px -9px rgba(45,115,185,1);
}

.THIS ul.navigationProductCard { 
    background-color: #f5f5f5;
    padding: 10px;
}

.THIS li.navigationProductCard {
    padding: 3px;
    position: relative;
    display: inline-block;
    /*margin: 10px;*/
}

.THIS li.navigationProductCard .acn-navigation-item-container {
    background-color: white;
    -webkit-box-shadow: 6px 6px 10px -6px rgba(149,149,149,1);
    -moz-box-shadow: 6px 6px 10px -6px rgba(149,149,149,1);
    box-shadow: 6px 6px 10px -6px rgba(149,149,149,1);
    padding: 20px;
}

.THIS li.navigationProductCard:hover .acn-navigation-item-container {
    -webkit-box-shadow: 8px 8px 10px -6px rgba(149,149,149,1);
    -moz-box-shadow: 8px 8px 10px -6px rgba(149,149,149,1);
    box-shadow: 8px 8px 10px -6px rgba(149,149,149,1);
}

.THIS li.navigationProductCard:active .acn-navigation-item-container {
    -webkit-box-shadow: 4px 4px 10px -6px rgba(149,149,149,1);
    -moz-box-shadow: 4px 4px 10px -6px rgba(149,149,149,1);
    box-shadow: 4px 4px 10px -6px rgba(149,149,149,1);
}

.THIS ul.navigationCardQuickAction {
    margin: 0;
}

.THIS li.navigationCardQuickAction {
    min-height: 150px;
    margin: 0;
    padding: 3px;
    border: none;
    display: inline-block;
    position: relative;
    float: left;
    min-height: 150px;
}

.THIS li.navigationCardQuickAction .acn-navigation-item-container {
    display: inline-block;
    position: relative;
    min-height: 150px;
    width: 100%;
    border: 1px solid t(colorBorder);
}

.THIS li.navigationCardQuickAction .acn-navigation-item-container:hover {
    -webkit-box-shadow: 8px 8px 10px -6px rgba(149,149,149,1);
    -moz-box-shadow: 8px 8px 10px -6px rgba(149,149,149,1);
    box-shadow: 8px 8px 10px -6px rgba(149,149,149,1);
    cursor: pointer;
}

.THIS li.navigationCardQuickAction .acn-navigation-item-container:active {
    -webkit-box-shadow: 4px 4px 10px -6px rgba(149,149,149,1);
    -moz-box-shadow: 4px 4px 10px -6px rgba(149,149,149,1);
    box-shadow: 4px 4px 10px -6px rgba(149,149,149,1);
}